<% provide(:title, "About") %>
<h1>About us!</h1>
<p>This web application will help you track your lifting progress. You can check out other user's progress too.</p>
<hr>
<h3>FAQ</h3>
<h4>Will it blend?</h4>
<p>Yeah I think so</p>
<h4>dyel?</h4>
<p>No :(</p>