<% provide(:title, "Contact") %>
<h1>Contact us!</h1>
<p>
  <i class="fa fa-envelope-o fa-2x"></i> You can send me an email: <a href="mailto:lironbackup@gmail.com">lironbackup@gmail.com</a>
</p>
<p>
  <i class="fa fa-instagram fa-2x"></i> We are also on instagram! <a href="https://instagram.com/alexstraszaqt/">@alexstraszaqt</a> <a href="https://instagram.com/illidanqt/">@illidanqt</a>
</p>

