<% provide(:title, "Home") %>
<h1>Welcome!!!</h1>
<p>Here you can log your exerise! Well, just lifting. We don't advocate cardio in here.</p>
<p>Would you like to be able to sign in with Google+ and Facebook? Well I guess that's the next thing I will add.</p>
