<div class='nested-fields form-inline set'>
    <%= f.input :weight, wrapper_html: { class: 'set-field'} %>
    <%= f.input :reps, wrapper_html: { class: 'set-field'}  %>
    <%= link_to_remove_association  f, class: 'btn btn-danger btn-xs' do %>
        <i class="fa fa-times"></i>
    <% end %>
</div>